.nico-comment-view {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}
.nico-comment-view .nico-comment {
  position: absolute;
  z-index: 10;
  white-space: nowrap;
  color: white;
  font-size: x-large;
}
